apiVersion: v1
kind: Service
metadata:
  name: ivy-thoughts
  labels:
    app: ivy-thoughts
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: ivy-thoughts
